:root {
  --blue: #3143a3;
  --yellow: #EEAF32;
  --black: #333333;
  --white: #FFFEF6;
  --gray: #949494;
  --dark-gray: #777676;
}

@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(/public/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700; 
  font-style: normal; 
}

@font-face {
  font-family: 'Poppins';
  src: url(/public/fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 500; 
  font-style: normal; 
}

@font-face {
  font-family: 'Poppins';
  src: url(/public/fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: 100; 
  font-style: normal; 
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  width: 100%;
  /*
  padding: 2rem;
  */
  text-align: center;
  height: 100vh;
}

.section {
  width: 100%;
  height: 100%;
  padding: 70px 20px 20px;
  padding-left: 90px;
}

h1 {
  font-size: calc(1.3rem + .6vw);
  text-align: left;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* Tutors */

.tutors-table-container {
  max-height: 550px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  overflow-y: auto;
}

.tutors-table-container::-webkit-scrollbar, .table-container::-webkit-scrollbar {
  width: 0px;
  scrollbar-width: thin;
  border-radius: 10px;
}

.tutors-table-container table thead {
  top: 0;
  position: sticky;
}

.tutor-name-cell {
  padding: 10px;
}

#tutor-name {
  text-align: left;
}

#tutor-schedule {
  text-align: left;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-container section {
  margin-bottom: 15px;
}
.form-container label {
  font-weight: bold;
}
.form-container input[type="text"],
.form-container input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-size: 12px;
}
.form-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* For older versions of webkit browsers */
  -moz-appearance: none; /* For Firefox */
  /* Add custom styling here */
}

.classes {
  overflow: scroll;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  cursor: pointer; 
  padding: 5px;
  width: 100%;
}

.highlighted {
  background-color: rgb(146, 146, 136); 
}

/* Profile */

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-picture-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 30px;
}

.user-picture-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: filter ease-in-out 0.1s;
}

.camera-label {
  position: relative;
  font-size: 3.5rem;
  bottom: 150px;
  z-index: 10;
  color: var(--white);
  opacity: 0;
  transition: opacity ease-in-out 0.1s;
}

.user-picture-container:hover img,
.camera-label:hover ~ img {
    filter: brightness(30%);
}

.user-picture-container:hover .camera-label, .camera-label:hover {
  opacity: 1;
}

.save-picture-btn {
  color: var(--white);
}

.user-info-container {
  /*
  margin-right: auto;
  */
  margin-left: 30px;
}

.tutor-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: left;
}

.tutor-info p {
  text-align: left;
}

.tutor-info-data p:first-of-type, #schedule-heading{
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.tutor-info-data p:last-of-type, .schedules p {
  font-size: 0.9rem;
  color: var(--gray);
  margin-top: 2px;
}

.tutor-info-description {
  width: 100%;
  text-align: left;
  font-size: 1rem;
}

.tutor-info-description p {
  margin-bottom: 2px;
}

.tutor-schedule {
  margin-right: auto;
  padding: 15px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.tutor-schedule p {
  margin: 2px;
  text-align: left;
}

#schedule-heading {
  margin-bottom: 10px;
}

.schedules p {
  font-size: 1rem;
}

.tutor-sched {
  text-align: left;
  margin-right: auto;
  margin-top: 15px;
}

.tutor-sched p {
  margin-bottom: 1px;
}

.tutor-sched .schedules p {
  color: var(--dark-gray);
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.tutor-calendar {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.tutor-calendar button, .popup-calendar-msg button {
  background-color: var(--blue);
  border-color: var(--blue);
}

.tutor-calendar button:hover, .popup-calendar-msg button:hover {
  background-color: #252f6b;
  border-color: #252f6b;
}

.tutor-calendar p {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 15px;
}


.info {
  width: 320px;
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #D7F1FD;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  margin-left: 10px;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #509AF8;
}

.info__title {
  font-size: 14px;
  color: #0C2A75;
}

.info__title a {
  color: inherit;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}


.tutor-courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 250px;
}

.tutor-course a {
  text-decoration: none;
}

.class-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
  flex: 1 1 250px;
  margin: 10px;
  cursor: pointer;
}

.class-box h3 {
  font-size: 1.1em;
  margin: 0 0 5px 0;
  color: var(--blue);
}

.class-box p {
  font-size: 0.9em;
  margin: 0;
}

.tutor-course-description  {
  margin-bottom: 5px;
}

.class-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutor-course-data p:first-of-type {
  font-size: 1.2rem;
}

.tutor-course-data p:last-of-type {
  font-weight: 400;
}

/* ProfilePictureUpload  */

.crop-container {
  position: relative;
  width: 100%;
  height: 400px;
  background: #333;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.slider-container {
  width: 50%;
}

/*
.tutor_schedule {
  height: auto;
}
*/

/*Login */

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.login-form {
  padding: 25px;
  border-radius: 40px;
  height: 640px;
}

.cae-logo {
  width: 100px;
  height: 100px;
}

a:visited {
  color: inherit;
}

.login-img {
  width: 100%;
}

.login-img img {
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
  background-color: #fff;
  order: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 1em 0 1em;
}

.login-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--gray);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.login-user input, .signup-form input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.login-user input:focus {
  border: 1px solid #000;
}

.login-user p, .signup-header p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 20px;
}

.login-label, .signup-label {
  text-align: left;
  font-size: 0.8rem;
  color: var(--gray);
}

.login-user button, #sign-up-btn, #signup-btn {
  width: 100%;
  padding: 0.6em;
  background-color: var(--yellow);
  color: #000;
  border: 1px solid #000;
  border-radius: 40px;
  cursor: pointer;
}

.login-user button:hover {
  background-color: #a2a790;
}

.btn-form {
  background-color: #fff;
  cursor: pointer;
}

#login .login-img {
  order: 2; 
  transition: all 0.8s ease;
}

#sign-up .login-img {
  transition: all 0.8s ease;
}

.moving-img {
  position: absolute;
  width: 50%; 
  height: 100%; 
  transition: transform 0.8s ease;
}
#forgotpass-btn {
  margin-right: auto;
  margin-left: 20px;
  font-size: 0.8rem;
  color: #507db9;
}

#forgotpass-btn:hover {
  color: #8d9ba4;
  border-bottom: 2px solid #8d9ba4;
  transition: border-bottom 100ms ease-in;
}

.btn-sign, .btn {
  font-size: 1rem;
}

#signup-btn, #login-btn {
  justify-content: center;
}

#signup-btn:hover, #login-btn:hover {
  border: 1px solid #000;
}

.community-label {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  color: var(--gray);
  padding: 0 10px;
  width: 70%;
  font-size: 0.95rem;
}

.community-label::before, 
.community-label::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35%;
    height: 1px;
    background-color: var(--gray);
}

.community-label::before {
    margin-left: -155px;
}

.community-label::after {
    margin-left: 20px;
}

#sign-up-btn {
  display: block;
  text-decoration: none;
  padding: 0.4rem;
}

#sign-up-btn:visited {
  color: inherit;
}


/*Aqui termina el diseño del login*/

/*Signup*/

.sign-up-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.signup-img {
  background: url("../../../public/img/Keiser LAC.jpg");
  background-size: cover;
  background-position: center;
}

.signup-cae-logo {
  margin-left: 15px;
}

.signup-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px;
}

.signup-header span {
  font-size: 0.8rem;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  padding: 30px;
  padding-right: 50px;
}

.signup-form input, #signup-btn {
  width: 80%;
}

#signup-btn {
  margin-top: 10px;
  width: 50%;
  border: none;
  color: var(--white);
}

.signup-cae-logo {
  height: 50px;
  width: 50px;
}

.signup-error-message {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 20px;
}

/* Aqui Termina el Signup*/

/* Home */

.sessions-container h1 {
  font-weight: 500;
}

/* General table styles */
.table-container {
  max-height: 550px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-container table thead { 
    position: sticky;
    top: 0;
    background-color: #fff;

}

.table-container table thead th, .tutors-container table thead th {
  background-color: var(--blue);
  color: var(--white);
  padding: 15px;
}

.table-container table tbody tr td {
  color: #777676;
  font-weight: 500;
}

.table-container table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
  border-bottom: none;
}

.table-container table {
  border-radius: 10px 10px 10px 10px;
}

.table-container thead th:first-child {
  border-top-left-radius: 10px;
}

.table-container thead th:last-child {
  border-top-right-radius: 10px;
}


canvas {
  width: 100% !important;
  height: 100% !important;
}

.home-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: none;
}

/* Aqui termina el Home */

/*Session Details*/

.session-details {
  width: 100%;
}

.session-data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #f9f9f9;
}

.session-data-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.session-data-container .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.session-data-container .form-group label {
  font-weight: bold;
  margin-bottom: 0.1rem;
  color: var(--blue);
}

.session-data-container .form-group input,
.session-data-container .form-group textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.session-date-data {
  display: flex;
}

.form-group textarea {
  resize: vertical;
  min-height: 220px;
}


/*Comment*/
.card {
  width: 450px;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px 17px 27px 27px;
}

.title {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 700;
  font-size: 13px;
  color: #47484b;
}

.title::after {
  content: '';
  width: 8ch;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #47484b;
}

.comments {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  padding: 20px;
}

.comment-react {
  width: 35px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.comment-react button {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d43737;
  color: var(--white);
  border: 0;
  border-radius: 5px;
  outline: none;
}

.comment-react button:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: -2.5px;
  top: -2.5px;
  background-color: #f5356e;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
}

.comment-react button svg {
  position: relative;
  z-index: 9;
}

.comment-react button:hover:after {
  animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
  fill: #f5356e;
}

.comment-react button:hover svg path {
  stroke: #f5356e;
  fill: #f5356e;
}

.comment-react hr {
  width: 80%;
  height: 1px;
  background-color: #dfe1e6;
  margin: auto;
  border: 0;
}

.comment-react span {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 13px;
  font-weight: 600;
  color: #707277;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.comment-container .user {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
}

.comment-container .user .user-pic {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.comment-container .user .user-pic:after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: #0fc45a;
  border: 2px solid #ffffff;
}

.comment-container .user .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

.comment-container .user .user-info span {
  font-weight: 700;
  font-size: 12px;
  color: #47484b;
}

.comment-container .user .user-info p {
  font-weight: 600;
  font-size: 10px;
  color: #acaeb4;
}

.comment-container .comment-content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #5f6064;
}

.text-box {
  width: 100%;
  height: fit-content;
  background-color: #f1f1f1;
  padding: 8px;
}

.text-box .box-container {
  background-color: #ffffff;
  border-radius: 8px 8px 21px 21px;
  padding: 8px;
}

.text-box textarea {
  width: 100%;
  height: 40px;
  resize: none;
  border: 0;
  border-radius: 6px;
  padding: 12px 12px 10px 12px;
  font-size: 13px;
  outline: none;
  caret-color: #0a84ff;
}

.text-box .formatting {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.text-box .formatting button:hover {
  background-color: #f1f1f1;
}

.text-box .formatting .send {
  width: 30px;
  height: 30px;
  background-color: #0a84ff;
  margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
  background-color: #026eda;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Aqui termina el Session Details */


/* Header */

.heading {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: var(--yellow);
  position: absolute;
  width: 100%;
}

.heading-phrase {
  padding-left: 110px;
} 

.heading-phrase p {
  padding-top: 20px;
  font-weight: 700;
}

.user-welcome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.user-link, .user-icon {
  padding-right: 20px;
  padding-top: 10px;
  text-decoration: none;
}

.user-link:visited {
  color: inherit;
}

.user-icon {
  font-size: 1.2rem;
  padding-right: 10px;
}

/* Sidebar */

.sidebar {
  background-color: var(--blue);
  width: 70px;
  transition: width 0.3s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-nav {
  min-height: 100vh;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 60px;
  height: 60px;
  padding-left: 10px;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.nav-links {
  width: 92%;
}

.nav-links a {
  height: 70px;
}

.nav-links a p, .nav-setting a p {
  font-size: 0.7rem;
}

.nav-links a, .nav-setting a {
  font-size: 1.5rem;
  color: var(--white);
}

.nav-links .active {
  background-color: #252f6b; 
  transition: background-color 0.3s ease;
}

.nav-links i, .nav-links p {
  transition: color 0.3s ease;
}

/* Report and Courses */

.report-container, .courses-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.courses-container {
  max-height: 620px;
  overflow: hidden;
}

.counters, .courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  padding-top: 20px;
}

.courses {
  padding-top: 10px;
  scroll-snap-type: x mandatory;
}

.counter-container, .course-container {
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-container {
  height: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
  user-select: none;
  scroll-snap-align: start;
}

.course-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.report-description p:first-of-type, .course-description p:first-of-type {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.course-description p:first-of-type {
  color: var(--blue);
}

.report-description p:last-of-type, .course-description p:last-of-type {
  font-size: 0.8rem;
  color: var(--gray);
  margin-top: 2px;
} 

.report-data, .course-tutors {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.report-data p, .course-tutors p {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
}

.course-tutors p {
  font-size: 1rem;
}

.course-tutors a {
  font-size: 0.8rem;
}

.course-tutors a:hover {
  color: var(--dark-gray);
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.sessions-graph {
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  width: 98%;
}

.add-class {
  width: 100px;
  margin-top: 10px;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  border-radius: 15px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.arrow:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.arrow.left {
  left: 70px;
}

.arrow.right {
  right: 10px;
}


/* Calendar */

.rbc-row-segment .rbc-event {
  background-color: var(--blue);
}

.custom-popup-content {
  border-radius: 10px;
}

.popup-calendar-msg {
  padding: 5px;
}

.popup-calendar-msg button {
  margin: 10px 0px 10px 0px;
  display: block;
}

.popup-cell-msg ul li p {
  display: inline-block;
  border-left: 2px solid var(--dark-gray);
  margin-left: 5px;
  padding-left: 5px;  
  margin-bottom: 0rem;
  height: 18px;
}

@media (max-width: 768px) {
  .rbc-time-header {
      display: block;
  }

  .rbc-time-content {
      display: block;
  }

  .rbc-time-header-cell {
      width: 100%;
  }

  .rbc-time-header-gutter,
  .rbc-time-gutter {
      width: 50px;
  }

  .rbc-time-slot {
      height: 20px;
  }
}

@media (max-width: 576px) {
  .rbc-time-header,
  .rbc-time-content,
  .rbc-time-header-cell,
  .rbc-time-header-gutter,
  .rbc-time-gutter,
  .rbc-time-slot {
      font-size: 0.8rem;
  }

  .rbc-time-header-cell {
      padding: 5px;
  }
}

/*Loading State*/

#loading-state-svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 #loading-state {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 